<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=>, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
	
	<%- include('partials/styles.ejs') %>
</head>
<body>
	<header>

		<%- include('partials/header.ejs') %>

		<nav>
		<%- include('partials/nav.ejs') %>
		</nav>

	</header>

	<main></main>

	<footer>

		<%- include('partials/footer.ejs') %>

	</footer>

	<%- include('partials/scripts.ejs') %>
</body>
</html>